.EndScreenAnnouncement__announcement--HhtNv{height:100%}
.EndScreenSuggestionsGrid__container--9MiQZ{height:100%;padding:0 60px}
.EndScreenSuggestionsSlider__container--YcqZD{height:100%;padding:0 56px}.EndScreenSuggestionsSlider__sliderCard--MUBrJ{min-width:172px;max-width:428px}
.EndScreen__endscreen--MbT4L{background:var(--black);padding:60px}
